// In your custom.scss
$btn-primary: #20c997;        /* Change background color */
$btn-primary-border: #ff5733;    /* Change border color */
$btn-primary-hover-bg: #ff2d1b;  /* Change hover background color */
$btn-primary-hover-border: #ff2d1b; /* Change hover border color */
@import 'bootstrap/dist/css/bootstrap.min.css';
